<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">Taj Holding</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarCollapsable" aria-controls="navbarCollapsable"
    aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapsable">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">
          Employees
        </a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">
          Requests
        </a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">
          Sign in
        </a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">
          Sign up
        </a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com"
          id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>

				<div class="dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdown1">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
