<div class="container signup-container">
  <h3>Sign Up</h3>
  <br/>

  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
        name="password">
    </div>

    <div class="form-group">
      <label for="confirmation">Confirmation</label>
      <input type="password" class="form-control" id="confirmation"
        name="confirmation">
    </div>

    <button class="btn btn-lg btn-primary">Sign Up</button>
  </form>
</div>
