<div class="container signup-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>Sign Up</h3>
      <br/>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username"
            formControlName="username" [ngClass]="{
            'is-invalid': signupForm.controls.username.invalid && (signupForm.controls.username.dirty || signupForm.controls.username.touched),
            'is-valid': signupForm.controls.username.valid && (signupForm.controls.username.dirty || signupForm.controls.username.touched)
          }">

          <div class="invalid-feedback"
            *ngIf="signupForm.controls.username.errors && (signupForm.controls.username.dirty || signupForm.controls.username.touched)">
            <p *ngIf="signupForm.controls.username.errors.required">
              Username is required.
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email"
            formControlName="email" [ngClass]="{
            'is-invalid': signupForm.controls.email.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched),
            'is-valid': signupForm.controls.email.valid && (signupForm.controls.email.dirty || signupForm.controls.email.touched)
          }">

          <div class="invalid-feedback"
            *ngIf="signupForm.controls.email.errors && (signupForm.controls.email.dirty || signupForm.controls.email.touched)">
            <p *ngIf="signupForm.controls.email.errors.required">
              Email is required.
            </p>
            <p *ngIf="signupForm.controls.email.errors.email">
              Must be a valid email address.
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password"
            formControlName="password" [ngClass]="{
            'is-invalid': signupForm.controls.password.invalid && (signupForm.controls.password.dirty || signupForm.controls.password.touched),
            'is-valid': signupForm.controls.password.valid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)
          }">

          <div class="invalid-feedback"
            *ngIf="signupForm.controls.password.errors && (signupForm.controls.password.dirty || signupForm.controls.password.touched)">
            <p *ngIf="signupForm.controls.password.errors.required">
              Password is required.
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmation">Confirmation</label>
          <input type="password" class="form-control" id="confirmation"
            formControlName="confirmation" [ngClass]="{
            'is-invalid': signupForm.controls.confirmation.invalid && (signupForm.controls.confirmation.dirty || signupForm.controls.confirmation.touched),
            'is-valid': signupForm.controls.confirmation.valid && (signupForm.controls.confirmation.dirty || signupForm.controls.confirmation.touched)
          }">

          <div class="invalid-feedback"
            *ngIf="signupForm.controls.confirmation.errors && (signupForm.controls.confirmation.dirty || signupForm.controls.confirmation.touched)">
            <p *ngIf="signupForm.controls.confirmation.errors.required">
              Password confirmation is required.
            </p>
            <p *ngIf="">
            </p>
          </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary"
          [disabled]="!signupForm.valid">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>

<pre>{{ signupForm.value | json }}</pre>
